<header>
  <div class="form-control w-full max-w-xs">
    <label class="label">
      <span class="label-text">O que falta finalizar?</span>
    </label>
    <input
      type="text"
      placeholder="Type here"
      class="input input-bordered w-full max-w-xs"
      name="task"
      #todoInput
      [autofocus]="true"
      [formControl]="name"
      (keyup.enter)="onAddItem(name)"
    />
  </div>

  <div class="form-control w-full max-w-xs justify-normal!">
    <label class="label cursor-pointer">
      <input
        type="checkbox"
        checked="checked"
        class="checkbox"
        [formControl]="checkbox"
        (change)="onToggleAllChange()"
      />
      <span class="label-text"> Marcar todos como finalizados</span>
    </label>
  </div>
</header>
