:host {
  .mat-toolbar {
    padding-left: 0;
    margin-bottom: 25px;

    span {
      opacity: 0.66;
      font-weight: 400;
    }
    .mat-button-base .mat-icon {
      margin-right: 6px;
    }
  }
}

.repo-link {
  text-align: center;
}