<footer>
  <p>
    <span [ngPlural]="count ?? 0">
      <ng-template ngPluralCase="=0">Nada pra fazer</ng-template>
      <ng-template ngPluralCase="=1">Falta apenas um item</ng-template>
      <ng-template ngPluralCase="other">
        Faltam
        <strong>{{ count }}</strong>
        itens pra finalizar
      </ng-template>
    </span>
  </p>

  <p>
    <mat-button-toggle-group
      name="filter"
      [formControl]="control"
      aria-label="Todos filter"
    >
      <mat-button-toggle value="all">Todos</mat-button-toggle>
      <mat-button-toggle value="active">Ativos</mat-button-toggle>
      <mat-button-toggle value="completed">Finalizados</mat-button-toggle>
    </mat-button-toggle-group>
  </p>

  <mat-divider></mat-divider>

  <p>
    <button color="accent" mat-flat-button (click)="onClearCompleted()">
      Limpar finalizados
    </button>
  </p>
</footer>
